stages:
  - build
  - publish

build:
  image: node:latest
  stage: build
  tags:
    - build
  before_script:
    - npm install
  script:
    - npm run build
  cache:
    paths:
      - node_modules
  artifacts:
    paths:
      - dist
    expire_in: 1 day
    when: on_success

publish:
  image: node:latest
  stage: publish
  tags:
    - deploy
  environment:
    name: npm
    url: https://www.npmjs.com/package/@emana/components
  only:
    - tags
    - triggers
  dependencies:
    - build
  script:
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - npm publish --access public
