@import '~@emana/style-utils/scss/mixins';

.content-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		position: relative;
		width: calc(100% - (96px * 2));
		max-width: 1920px;

		@include touch() {
			width: calc(100% - (32px * 2));
		}
	}
}
