name: CI

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          clean: 'false'

      - name: Instala as dependências
        run: yarn install

      - name: Faz a build
        run: yarn build

      - name: Publicação
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc
          yarn publish --access restricted
